@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-4xl font-semibold text-primary md:text-6xl;
}

h2 {
  @apply text-2xl font-semibold text-primary md:text-3xl;
}

h3 {
  @apply text-xl font-semibold text-primary md:text-2xl;
}

p {
  @apply text-white text-base md:text-lg;
}

.hidden {
  display: hidden;
}

.list-wrap {
  @apply flex flex-col font-bold border relative justify-center items-center border-black border-opacity-100 p-4;
  width: 40%;
  left: 30%;
  height: 100%;
}

.bookstairs {
  display: none;
  left: 70%;
  height: 20%;
}

.notebook {
  height: 50px;
  top: 10px;
}

.studying {
  display: none;
}

.design-bar1 {
  top: 10px;
  right: -100px;
  z-index: 0;
  height: 15px;
  width: 500px;
  transform: rotate(45deg);
}

.design-bar2 {
  top: 10px;
  left: -100px;
  z-index: -1;
  height: 15px;
  width: 500px;
  transform: rotate(-45deg);
}

.design-bar3 {
  top: -40px;
  right: -100px;
  z-index: 0;
  height: 15px;
  width: 500px;
  transform: rotate(45deg);
}

.design-bar4 {
  top: -40px;
  left: -100px;
  z-index: -1;
  height: 15px;
  width: 500px;
  transform: rotate(-45deg);
}

.heading {
  position: relative;
  left: 5%;
}

.about-section {
  margin-top: 50px;
  margin-bottom: 200px;
  height: 500px;
  border-radius: 50px;
}

.about-text-box {
  top: 5%;
  height: 90%;
  width: 800px;
  border-radius: 50px;
}

.knowledge {
  height: 400px;
  align-self: center;
  left: 5%;
}

.white-bar {
  width: 3px; 
  height: 90%;
  top: 5%;
}

.about-text-box .title-bar {
  width: 90%;
  top: 15%;
  left: 5%;
  height: 3px;
  transform: rotate(90);
}

.about-paragraph {
  top: 5%;
  padding: 0 50px;
}

.exams-header {
  margin-bottom: 20px;
}